body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.contentBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contentEnemy {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.imgPlayerFace {
    width: 400px;
    height: 400px;
}

.lifeBar {
    background-color: green;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.btnAttack {
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 97, 97);
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.btnAttack:active {
    transform: scale(0.9);
}

